
body {
    padding-left: 1em;
}

.navigation p {
    display: inline;
}

.footer {
    font-size: 0.8em;
}

.add-quote {
    padding: 0.5em;
    width: 40%;
    display: block;
}

.add-quote textarea {
    width: 100%;
}

.add-text textarea {
    height: 10em;
}

.submit-button {
    padding-top: 0.5em;
}

.quote {
    display: block;
    padding-top: 1em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid gray;
}

.quote-head {
    display: inline;
}

.quote-tags {
    padding-top: 0.3em;
    font-size: 0.8em;
}

.quote-rating {
    font-size: 0.8em;
}

.switch-page {
    padding-bottom: 1em;
}

.tags {
    padding-top: 1em;
    padding-bottom: 1em;
}

.tag {
    display: inline;
}
